@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Thanks for wanting to join!</h2>

<h3>We're not quite set up for this part yet, please come back soon and check up on us.</h3>
