@{
    ViewData["Title"] = "Declaration of Independence from Plutocratic Rule";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>Whereas, the current government of the United States has been corrupted by the influence of private wealth, and no longer serves the interests of the general population;</p>

    <p>Whereas, the electoral system of the United States, due to the aforementioned corruption, can no longer be relied upon as a decision making apparatus with which to accurately determine the political will of the general population;</p>

    <p>Whereas, all the means by which said system could be repaired or adjusted in order to work more effectively, have also been corrupted by the influence of private wealth;</p>

    <p>It is hereby concluded that a new decision making apparatus must be created, which is capable of accurately determining the actual needs and desires of the majority of people living within the territory controlled by the government of the United States of America.</p>

    <p>PirateGov.org is an attempt to create that system.</p>
</div>