@{
    ViewData["Title"] = "Home Page";
}

    <div id="MainIndexPanel" class="text-center">
        <h1 class="display-4">Avast! We've been HORNSWOGGLED!!</h1>
        <a href="/Home/Main">
            <img src="http://www.pirategov.org/images/pirate.png" style="height: 500px; " />
        </a>
        <h2>Click on the pirate to find out how!</h2>
    </div>
