
@{
    ViewData["Title"] = "Main";
}

@section Scripts {
    @* JS for managing this page *@
    <script src="~/js/Home/Main.js"></script>
}
<p></p>
<h1>AHOY!!!</h1>

<div class="uk-grid ">
    <div class="uk-width-1-1 ">
        <div class="uk-panel uk-panel-box">
            <p>
                And welcome to <b>Pirate Gov</b>, an online resource created by the newly founded Pirate Party of Lane County. The International Pirate Party, focused on civil liberties, freedom of information, and direct democracy, has become a political force in Europe, and we consider it high time to inject a little Pirate spirit into American politics! 
            </p>
            <p>
                The United States is <b>polarized and divided</b> against itself, perhaps more so now than at any time since the Vietnam War. Judging only by the media, the internet, and the behavior of our elected representatives, one would think that there are two completely different Americas, with distinct sets of facts, histories, and perhaps even laws of physics. Our political conversations amongst ourselves, in person and online, often reflect this division.
            </p>
            <p>
                However, every day, most of us somehow manage to get out of bed and go into the world, and end up interacting with potentially hundreds of people in our daily social and work routines. Often these are people with whom we might disagree on many of the "hot button" issues. But even so, there are many more concerns that we all have in common: from a shared desire to get to where we're going without accidents, to the common needs of educating our kids and transacting our business.
            </p>
            <p>
                We understand that there are significant, real differences dividing Americans, and many difficult conflicts that must be resolved between us. However, we do not accept the notion that American society is fundamentally split into two groups of people who cannot agree on anything - which is what our national government seems to have become.
            </p>
            <p>
                And this is where we've been "hornswoggled". Because while most of us believe and act as if we still live in a democracy, where we make collective decisions by participating in the electoral process, the fact is that this system has been thoroughly <b>hijacked and subverted</b> by the wealthiest and most powerful among us, to the point that the majority of citizens have essentially <a href="https://www.businessinsider.com/major-study-finds-that-the-us-is-an-oligarchy-2014-4">no control at all over the actions of our government</a>.
            </p>
            <p>
                So where do we go from here? We don't know for sure, but one thing we do know is that if you play by the rules in a crooked game, then you are guaranteed to lose. Therefore, the Lane County Pirate Party does not intend to run candidates in any elections. Instead, we are turning our energy toward <b>direct democracy, mass communication, and positive action</b>.
            </p>
            <p>
                Thank you for your interest. If you'd like to join us, <a asp-action="Register" asp-controller="Account">please register!</a>
            </p>
        </div>
    </div>
</div>



